li {
    color: white;
    background-color: #343A40;
    list-style: none;
    border-bottom: 1px solid black;
    width: 24rem;
    word-wrap: break-word; 
    margin-top: 5px;
    border-radius: 6px;
    
}

ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
}

.info {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    color: #6C757D;
}

.text {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    white-space: wrap;
    word-break: break-word; 
    margin-bottom: 5px;
}